@font-face {
  font-family: 'Avenir Next';
  src: url("../../public/Avenir_Next.otf");
  }

* {
  font-family: "Avenir Next" !important;
}
.background-container {
  overflow-y: scroll;
  width: 100%;
  position: fixed;
  height: 100%;
  background-size: 100% 66% !important;
  background-repeat: no-repeat !important;
  top: 0;
  left: 0;
  z-index: -1;
  border-width:0;
  border-radius:0;
}

.body-card {
  padding: '15px';
  background-color: '#f8f9fa';
  margin-top: '30px';
  width: '90%';
}

.body-cardText {
  font-size: '20px';
}