.art-wrapper {
  position: relative;
  min-width: 200px;
  max-width: 400px;
  aspect-ratio: 350/300 !important;
}

.p5Sketch {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #D0D0D0;
}

.member-graphic-text-top {
  color: #DB0056;
  font-weight: bold;
  position: absolute;
  top: 8px;
  left: 15px;
  z-index: 1;
  font-size: 90%;
}

.member-graphic-text-bottom {
  display: inline;
  color: #DB0056;
  font-weight: bold;
  position: absolute;
  bottom: 8px;
  left: 15px;
  z-index: 1;
  font-size: 90%;
}

.dashboard-metric {
  padding: 5px;
  margin: 15px 0px 0px 0px;
  border-radius: 10px !important;
  background-color: transparent;
  border: 1px solid lightgray;
}

.dashboard-metric-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #16434B;
  margin: 5px 0px 5px 0px;
}

.dashboard-metric-figure {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #16434B;
  margin: 5px 0px 5px 0px;
}

.footer-wrapper {
  position: absolute;
  width: 81%;
  bottom: 10px;
  bottom: 10px;
  margin: 0px;
  padding: 0px;
}

.dashboard-settings-bar {
  padding: 15px;
  font-weight: bold;
  color: #DB0056;
  border-radius: 10px !important;
  background-color: white !important;
  vertical-align: middle;
  text-align: center;
}

.dashboard-settings-bar:hover {
  border: 1px #DB0056 solid;
  padding: 14px;
  cursor: pointer;
}

.dashboard-social-icon {
  background-color: white;
  padding: 10px;
  margin: 5px;
  color: #DB0056;
  border-radius: 10px !important;
  text-align: center;
}

.dashboard-social-icon:hover {
  border: 1px #DB0056 solid;
  padding: 9px;
  cursor: pointer;
}

.my-projects-wrapper {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 15px;
}

.my-projects-title {
  color: #DB0056;
  font-weight: bold;
  font-size: 90%;
  display: flex;
}

.my-projects-link {
  color: #DB0056;
  font-weight: normal;
  font-size: 80%;
  align-self: center;
  margin-left: auto;
}

.my-projects-link:hover {
  color: #DB0056;
  font-weight: normal;
  font-size: 80%;
  align-self: center;
  margin-left: auto;
  cursor: pointer;
}

.dashboard-create-project {
  aspect-ratio: 1.4/1;
  border: 1px dashed gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-project-button {
  background-color: white;
  color: #DB0056;
  border: 1px solid #DB0056;
  font-weight: bold;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
}

.new-project-button:hover {
  background-color: #DB0056;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
}

.contract-image {
  aspect-ratio: 1.4/1;
  width: 100%;
  display: flex;
  border-radius: 10px;
}

.contract-label {
  width: 80%;
  background-color: white;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
  border-radius: 5px;
  padding: 5px;
}

.contract-label:hover {
  width: 82%;
  background-color: white;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
}

.contract-name {
  font-size: 16px;
  font-weight: bold;
  color: #16434B;
}

.contract-figure {
  background-color: #F5F5F5;
  margin: 3px 2px 0px 2px;
  padding: 5px;
  border-radius: 2px 2px 10px 10px;
}

.figure-title {
  font-size: 12px;
  color: #16434B;
  display: block;
  font-weight: bold;
}

.figure {
  font-size: 16px;
  color: #16434B;
  font-weight: bold;
}

.network-logo {
  width: 30px;
}