.member-mint{
  background: transparent !important;
  padding:0;
  margin:0
}

.logo{
  margin-right:3px;
  margin-top:5px
}

.banner-text {
  position: absolute;
  top: 80%;
  left: 55%;
  transform: translate(-50%, -50%);
  color:white;
  font-size:12px;
  font-weight:bold
}

.connect-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size:12px;
  font-weight:bold;
  width:100%;
}

.connect{
  background:transparent; 
  border:none; 
  color:transparent;
}
.connect-image{
  margin-top: -15px;
}

.connected-labels{
  background-color: #4eb9b1;
  border-radius:10px !important;
  color: #16434B;
  margin-right: 5px;
  margin-top:5px;
  font-size:14px;
  font-weight:bold;
}

.icon{
  margin-left:5px;
  margin-bottom: 3px;
}

.icon:hover{
  cursor: pointer;
}
