.nav-container {
  background: transparent !important;
  padding: 0;
  margin: 0
}

.logo {
  margin-right: 3px;
  margin-top: 5px;
  display: inline;
}

.banner {
  margin-top: 5px;
  border-radius: 0px 10px 10px 0px !important;
  height: 50px;
  width: 255px;
  background-color: #DB0056;
}

.banner-inactive {
  margin-top: 5px;
  border-radius: 0px 10px 10px 0px !important;
  height: 50px;
  width: 255px;
  background-color: transparent;
  border-color: transparent;
}

.banner-text {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  font-weight: bold
}

.connect {
  background: #4EB9B1;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 27px 25px 19px 25px;
  border-radius: 0px 0px 10px 10px;
}

.connected-labels {
  background-color: #4eb9b1;
  border-radius: 10px !important;
  color: #16434B;
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  max-width: 255px;
}

.icon {
  margin-left: 8px;
  margin-bottom: 3px;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.dashboard-nav-balance {
  background-color: #16434B;
  border-radius: 10px !important;
  color: white;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 550;
  margin-right: -10px;
  padding: 0.61rem 1.15rem 0.60rem 1.15rem;
  max-width: 255px;
}

.dashboard-nav-logo {
  border-radius: 5px;
  margin-right: 5px;
  height: 25px;
  width: 25px;
}

.dashboard-nav-text {
  line-height: 25px;
  vertical-align: middle;
}