/* Sidebar Styling */

.description {
  color: #DB0056;
  font-size: 16px;
  margin-top: 10px;
}

.column {
  word-wrap: normal;
  padding-left: 0px;
  padding-right: 0px;
}

.card-text {
  color: #DB0056;
  font-size: 12px;
  padding-bottom: 10px;
  align-self: center;
}

.number-text {
  font-size: 34px;
  color: #A40A3E;
  text-align: right;
  padding-right: 6px;
}

.sidebar-card {
  background-color: #FFFFFF;
  width: 140px;
  height: 90px;
  margin: 4px;
}

/* Main Menu Overall Styling */

.title-box {
  position: absolute;
  padding-top: 8px;
  margin-bottom: 0;
  width: 125px;
  height: 40px;
  bottom: 20px;
  right: 5px;
  background-color: #E02456;
  border-radius: 5px;
  text-align: center;
}

.title-box span {
  font-size: 10pt;
  font-weight: bold;
}

/* Posts Menu Styling */

.post-menu {
  max-width: 1150px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.glider-slide {
  margin-right: 40px !important;
}

.posts {
  box-shadow: 5px 5px 5px grey;
  max-width: 403px;
  min-width: 338px;
}

.post-img {
  max-width: 403px;
  max-height: 403px;
  min-width: 338px;
  min-height: 338px;
}

.featured-post {
  box-shadow: 5px 5px 5px grey;
  max-width: 492px;
  min-width: 338px;
}

.featured-post-img {
  max-width: 492px;
  max-height: 492px;
  min-width: 338px;
  min-height: 338px;
}

.card-img-overlay p {
  position: absolute;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  bottom: 30%;
  left: 1px;
  font-size: 14pt;
  font-style: italic;
  background-color: #FFFFFF;
  color: grey;
}

#featured-post-sub-head{
  font-size: 20pt;
}

.post-description-box {
  display: inline-flex;
  position: relative;
  max-width: 492px;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  text-align: right;
  padding-top: 20px;
  color: #DB0056;
}

.post-description-text {
  padding-left: 32px;
}

.featured-post-secondary-img {
  top: 5px;
  left: 5px;
  padding-right: 5px;
  width: 150px;
  height: 75px;
}

/* Events Styling */

.events-menu {
  /* position: relative; */
  max-width: 1150px;
  /* bottom: 0; */
  padding-top: 60px;
  padding-bottom: 40px;
  overflow-x: scroll;
}

.events {
  max-width: 227.4px;
}

.event-img {
  max-width: 227.4px;
  height: 150px;
}

.date-box {
  position: absolute;
  padding-top: 4px;
  margin-bottom: 0;
  width: 100px;
  height: 30px;
  top: 5px;
  left: 5px;
  background-color: #E02456;
  border-radius: 5px;
  text-align: center;
}

.date-box span {
  font-size: 10pt;
  font-weight: bold;
}

.event-title {
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  position: absolute;
  bottom: 0px;
  left: 5px;
  font-size: 10pt;
  color: #DB0056;
  font-weight: bold;
}

.menu-name {
  font-weight: bolder;
  text-shadow: 1px 1px grey;
  font-size: 16pt;
  color: #DB0056;
  left: 5px;
}
