/* Sidebar Styling */

.description {
  color: #DB0056;
  font-size: 16px;
  margin-top: 10px;
}

.column {
  word-wrap: normal;
  padding-left: 0px;
  padding-right: 0px;
}

.card-text {
  color: #DB0056;
  font-size: 12px;
  padding-bottom: 10px;
  align-self: center;
}

.number-text {
  font-size: 34px;
  color: #A40A3E;
  text-align: right;
  padding-right: 6px;
}

.sidebar-card {
  background-color: #FFFFFF;
  width: 140px;
  height: 90px;
  margin: 4px;
}

/* Main Menu Overall Styling */

.title-box {
  position: absolute;
  padding-top: 8px;
  margin-bottom: 0;
  width: 125px;
  height: 40px;
  bottom: 20px;
  right: 5px;
  background-color: #E02456;
  border-radius: 5px;
  text-align: center;
}

.title-box span {
  font-size: 10pt;
  font-weight: bold;
}

/* Posts Menu Styling */

.post-menu {
  padding-top: 20px;
  padding-bottom: 40px;
  overflow-x: scroll;
}

.text-white.posts.card {
  box-shadow: 5px 5px 5px grey;
  max-width: 277px;
}

img.card-img.post-img {
  width: 275px;
  height: 275px;
}

.text-white.featured-dao.card {
  box-shadow: 5px 5px 5px grey;
  max-width: 354px;
}

img.card-img.featured-dao-img {
  width: 350px;
  height: 350px;
}

.card-img-overlay p {
  position: absolute;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  bottom: 30%;
  left: 1px;
  font-size: 14pt;
  font-style: italic;
  background-color: #FFFFFF;
  color: grey;
}

#featured-dao-sub-head{
  font-size: 20pt;
}

.post-description-box {
  text-align: right;
  padding-top: 20px;
  border-bottom: 1px grey;
  color: #DB0056;
}

/* Events Styling */

.events-menu {
  bottom: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  overflow-x: scroll;
}

.bg-light.text-white.events.card {
  max-width: 227.4px;
}

img.card-img.event-img {
  height: 150px;
}

.date-box {
  position: absolute;
  padding-top: 4px;
  margin-bottom: 0;
  width: 100px;
  height: 30px;
  top: 5px;
  left: 5px;
  background-color: #E02456;
  border-radius: 5px;
  text-align: center;
}

.date-box span {
  font-size: 10pt;
  font-weight: bold;
}

.event-title {
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  position: absolute;
  bottom: 0px;
  left: 5px;
  font-size: 10pt;
  color: #DB0056;
  font-weight: bold;
}

.menu-name {
  font-weight: bolder;
  text-shadow: 1px 1px grey;
  font-size: 16pt;
  color: #DB0056;
  left: 5px;
}
